node_modules
.next
out
.git
.gitignore
.env
.env.production
.env*.production
.env.local
.env*.local
*.db
*.db-wal
*.db-shm
*.sqlite
npm-debug.log*
coverage
.vercel
.turbo
.vscode
__tests__
README.md
.DS_Store
Dockerfile
.dockerignore
